/*Start*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
section{
    padding: 5rem 0;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
    
}
 .nav-brand{
    width: 2rem;
}
.menu-icon i{
    font-size: 3rem;
    color: #fafafa;
    opacity: 0.8.5;
    cursor: pointer;
}
.close i{
    color: #eb648c;
}
.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
.nav-list{
    width: 25rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -26rem;
    background-color: #d7d4ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}
.nav-list.active{
    right: 0;
}

.nav-item{
    margin: 1.6rem 0;
}
.nav-link{
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-size: 1.6rem;
}
.hero{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url('./images/header-bg.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}
.hero::before{
    content: "";
    width: 100%;
    height: 4.7rem;
    background: url(./images/wave-small.png) center no-repeat ;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-message{
    width: 100%;
    max-width: 50rem;
    transform: translateY(20%);
    color: #fafafa;
    text-transform: uppercase;
}
.main-message h3{
    font-size: 1.6rem;    

}
.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}
.main-message p{
    text-transform: lowercase;
    font-size: 1.6rem;
}
.main-message .btn{
    display: inline-block;
    background-color: #eb648c;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: #fafafa;
    text-transform: uppercase;
    margin-top: 1rem;
    transition: background-color 650ms;
}
.main-message .btn:hover{
    background-color: #ce587b;
}